<div class="ribbon row">
    <div class="capabilities-header col-sm-3">
        <a onclick='load_page_info(2)'>Capabilities</a>
    </div>
    <div class="capabilities-list col-sm-9">
        <div class="row ofTest">
            <div class="navigation-item"><img src="http://placehold.it/120x120"/><br/><a onclick="load_page_info(3)">Item
                1</a></div>
            <div class="navigation-item">2</div>
            <div class="navigation-item">3</div>
            <div class="navigation-item">4</div>
            <div class="navigation-item">5</div>
            <div class="navigation-item">6</div>
            <div class="navigation-item">7</div>
            <div class="navigation-item">8</div>
        </div>
    </div>
</div>
<div class="ribbon row">
    <div class="products-header col-sm-3">
        <a onclick="load_page_info(4)">PRODUCTS</a>
    </div>
    <div class="products-list col-sm-9">
        <div class="row">
            <div class="col-sm-2"><a onclick="load_page_info(5)">Item 1</a></div>
            <div class="col-sm-2">Item</div>
            <div class="col-sm-2">Item</div>
            <div class="col-sm-2">Item</div>
            <div class="col-sm-2">Item</div>
            <div class="col-sm-2">Item</div>
        </div>
    </div>
</div>
<div class="ribbon row">
    <div class="markets-header col-sm-3">
        <a href="Markets">MARKETS</a>
    </div>
    <div class="markets-list col-sm-9">
        <div class="row">
            <div class="col-sm-2">Item</div>
            <div class="col-sm-2">Item</div>
            <div class="col-sm-2">Item</div>
            <div class="col-sm-2">Item</div>
            <div class="col-sm-2">Item</div>
            <div class="col-sm-2">Item</div>
        </div>
    </div>
</div>
